# CSV files
*.csv

# In case of Excel-generated CSV files with capital extension
# allow files with .CSV extension
*.csv


# Executable files
*.exe

# Database files
*.db

# Venv
venv/
.venv/

# Pycache
__pycache__/


